.content_wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
    
    .text_content{
        .title{
            transform: translateX(-130px);
            width: calc(100% + 130px);
        }
    }

}
