.section{
    background-color: rgba(var(--primary-color-rgb), 0.1);
    padding: 0;

    .content_wrapper{
        padding: 100px 0;
        display: flex;
        justify-content: space-between;
        gap: 250px;
        .brand{
            text-align: center;
            flex-shrink: 0;
            .title{
                font-family: var(--breathings-font);
                font-size: 30px;
            }
        }

        .contact_wrapper{
            padding-top: 20px;
            display: flex;
            gap: 100px;

            .contact_details{
                flex-shrink: 0;
            }
            ul{
                list-style: none;
                display: flex;
                gap: 10px;
            }
        }
    }
    .bottom_spacer{
        height: 85px;
        width: 100%;
        border-top: 1px solid rgba(var(--primary-color-rgb), 0.2);
        
    }
}